/* Geral */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  button{
    cursor: pointer;
    padding: 0.8rem 1rem;
    border-radius: 50%;
    border: none;

    &:hover{
      background:  #2980b9;
      color: #fff;
    }
  }
}


/* Tabela */
table {
  width: 100%;
  margin: 0 0 0 2rem;
  border-collapse: collapse;
}

th, td {
  padding: 12px 15px;
  text-align: justify; /* Centraliza o texto */
  border-bottom: 1px solid #e1e1e1;
}

th {
  background-color: #3498db;
  color: white;
  font-size: 1.1em;
}

td {
  background-color: #fafafa;
  font-size: 0.9em;
}

td a {
  color: #3498db;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}
